/* *{
    margin:0;
    padding:0;
}
.grid{
    display:flex;
    flex-direction: column;
    padding:3em;
}
.sections{
    padding:4em;
    border-radius:5px;
}
.section-top{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.section-second{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.section-third{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
a > div{
    border-radius:5px;
    color:black;
    padding:1em;
    margin:2em;
}
p{
    color:black;
}
.title{
    font-size:4em;
}
.modal{
    padding:2em;
    margin-top:3em;
}
.modal-content{
    padding:2em;
}
.modal-content > p{
    padding:2em;
    font-size:1.5em;
    color:black;
}
.btn{
    font-size:1.5em;
}
.btn:hover{
    color:white;
} */
#c-con {
    display: flex;
    justify-content: center;
    max-height: 100vh;
    overflow: auto;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    width: 80vw;
}
.carde {
    min-width: 25.6vw;
    text-align: center;
    color: black;
    flex-grow: 1;
    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
    min-height: 25.6vw;
    margin: 1px;
}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.info {
    max-width: 90%;
}
.content a {
    color: black;
    font-weight: bold;
}
.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    padding: 2vw;
}
