*{
    margin:0;
    padding:0;
}
.complaint-form-main{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top:15%;
}
.complaint-form{
    background-color: white;
    opacity:0.9;
    padding:2em;
    border-radius:5px;
}
.form-title, .form-content{
    margin:1em;
    font-size:20px;
}
.form-button{
    font-size:20px;
    padding:2%;
    opacity:1;
    background-color:black;
    color:white;
}
h3{
    font-size:30px;
    text-align:center;
}