
{% extends 'base.html' %}

{% block title %}
<title>About Us - SU Portal</title>
{% load static %}
    <link rel="stylesheet" href="{% static "app/stylesheets/aboutus.css" %}">
    <script src="{% static "app/modals.js" %}" charset="utf-8"></script>   
{% endblock %}


{% block content %}
<div class="grid">
    <div class="sections #4dd0e1 cyan lighten-2">

            <div id="modal1" class="modal z-depth-4 #e3f2fd blue lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #2196f3 blue-text">Election Commission</h3>
                        <p class="align-left">The Election Commission (EC) is a six-member, independent and self-sustaining body of the Students' Union (SU). It is be responsible for conducting free and fair elections for all the organs of the SU. The EC also moderates the General Body Meetings (GBMs). Additionally, the EC makes sure that SU Constitution is upheld by all the position holders.
                            </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal1-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            
                <div id="modal2" class="modal z-depth-4 #e3f2fd blue lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #2196f3 blue-text">Corroboration and Review committee</h3>
                        <p class="align-left">The Corroboration and Review Committee is a  6-membered neutral body. The CRC audits all receipts and expenditures of the Student Union Council (including the 4 major annuals fests). The CRC is also responsible for scrutinizing and approving the budgets of the above activities and for maintaining and enforcing the Procedure Manual of BPHC.
                            </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal2-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            
                <div id="modal3" class="modal z-depth-4 #f3e5f5 purple lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #9c27b0 purple-text">Student Mess Council</h3>
                        <p class="align-left"></p>
                        <p>TO sumit complaints agaist food stalls or mess food, click <a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSc1XRjTRXL-GKtlylSBLZLtyEXnn3WGkVJnuNJaiz7vA-u2Fw/viewform">Here</a></p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal3-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>

        <p class="title center-align">About Us</p>
        <div class="section-top">
                <a><div class="#f5f5f5 grey lighten-4 z-depth-4"><span class="flow-text">SU Body</span></div></a>
                <a><div class="#f5f5f5 grey lighten-4 z-depth-4"><span class="flow-text">SU Events</span></div></a>
        </div>
        <div class="section-second">
                <a><div id="modal1-btn" class="#f5f5f5 grey lighten-4 z-depth-4 modal-trigger"><span class="flow-text">ELection Commission</span></div></a>
                <a><div id="modal2-btn" class="#f5f5f5 grey lighten-4 z-depth-4 modal-trigger"><span class="flow-text">Corroboration and review committee</span></div></a>
                <a><div id="modal3-btn" class="#f5f5f5 grey lighten-4 z-depth-4 modal-trigger"><span class="flow-text">Students mess council</span></div></a>
        </div>
        <div class="section-third">
                <a href="clubs/"><div class="#f5f5f5 grey lighten-4 z-depth-4"><span class="flow-text">Clubs</span></div></a>
                <a href="depts/"><div class="#f5f5f5 grey lighten-4 z-depth-4"><span class="flow-text">Departments</span></div></a>
                <a href="techassoc"><div class="#f5f5f5 grey lighten-4 z-depth-4"><span class="flow-text">Tech Assocs</span></div></a>
                <a href="ngos/"><div class="#f5f5f5 grey lighten-4 z-depth-4"><span class="flow-text">Societies and NGOs</span></div></a>
        </div>
    </div>    
</div>    
{% endblock %}>
