<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "app/stylesheets/home.css" %}">
        {% block title %}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <ul class="top-bar">
                <li>home</li>
                <li>Contact Us</li>
                <li>212</li>
                <li><a href="/complaints">Complaints</a></li>
                <li><a href="/tickets">Discussion Forum</a></li>
                <li>Login/Logout</li>
            </ul>
            <div class="static">
                <div  class="side-bar">
                    <ul>
                        <li>side bar item 1</li>
                        <li>side bar item 2</li>
                        <li>side bar item 3</li>
                        <li>side bar item 4</li>
                    </ul>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
