
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
</style>
</head>
<body>

<h2>Clubs and Departments</h2>
<br>
{% load static %}
<link rel="stylesheet" href="{% static "app/stylesheets/clubs.css" %}">
    <script type="text/javascript">
        $(document).ready(function(){
            $('#modal1-btn').on('click',function(event){
                event.preventDefault();
                $('#modal1').show(); 
            });
            $('#modal1-close').on('click', function(event){
                event.preventDefault();
                $('#modal1').hide();
            });

            $('#modal2-btn').on('click',function(event){
                event.preventDefault();
                $('#modal2').show(); 
            });
            $('#modal2-close').on('click', function(event){
                event.preventDefault();
                $('#modal2').hide();
            });

            $('#modal3-btn').on('click',function(event){
                event.preventDefault();
                $('#modal3').show(); 
            });
            $('#modal3-close').on('click', function(event){
                event.preventDefault();
                $('#modal3').hide();
            });

            $('#modal4-btn').on('click',function(event){
                event.preventDefault();
                $('#modal4').show(); 
            });
            $('#modal4-close').on('click', function(event){
                event.preventDefault();
                $('#modal4').hide();
            });

            $('#modal5-btn').on('click',function(event){
                event.preventDefault();
                $('#modal5').show(); 
            });
            $('#modal5-close').on('click', function(event){
                event.preventDefault();
                $('#modal5').hide();
            });    

            $('#modal6-btn').on('click',function(event){
                event.preventDefault();
                $('#modal6').show(); 
            });
            $('#modal6-close').on('click', function(event){
                event.preventDefault();
                $('#modal6').hide();
            });

            $('#modal7-btn').on('click',function(event){
                event.preventDefault();
                $('#modal7').show(); 
            });
            $('#modal7-close').on('click', function(event){
                event.preventDefault();
                $('#modal7').hide();
            });

            $('#modal8-btn').on('click',function(event){
                event.preventDefault();
                $('#modal8').show(); 
            });
            $('#modal8-close').on('click', function(event){
                event.preventDefault();
                $('#modal8').hide();
            });

            $('#modal9-btn').on('click',function(event){
                event.preventDefault();
                $('#modal9').show(); 
            });
            $('#modal9-close').on('click', function(event){
                event.preventDefault();
                $('#modal9').hide();
            });

            $('#modal10-btn').on('click',function(event){
                event.preventDefault();
                $('#modal10').show(); 
            });
            $('#modal10-close').on('click', function(event){
                event.preventDefault();
                $('#modal10').hide();
            });

            $('#modal11-btn').on('click',function(event){
                event.preventDefault();
                $('#modal11').show(); 
            });
            $('#modal11-close').on('click', function(event){
                event.preventDefault();
                $('#modal11').hide();
            });

            $('#modal12-btn').on('click',function(event){
                event.preventDefault();
                $('#modal12').show(); 
            });
            $('#modal12-close').on('click', function(event){
                event.preventDefault();
                $('#modal12').hide();
            });

            $('#modal13-btn').on('click',function(event){
                event.preventDefault();
                $('#modal13').show(); 
            });
            $('#modal13-close').on('click', function(event){
                event.preventDefault();
                $('#modal13').hide();
            });

            $('#modal14-btn').on('click',function(event){
                event.preventDefault();
                $('#modal14').show(); 
            });
            $('#modal14-close').on('click', function(event){
                event.preventDefault();
                $('#modal14').hide();
            });
        });
    </script>
{% endblock %}


{% block content %}
   
<div class="club-table">

<!-- Modal Structure -->
    <div id="modal1" class="modal z-depth-4 #e3f2fd blue lighten-5">
        <div class="modal-content">
            <h3 class="align-left #2196f3 blue-text">English Language Activities Society</h3>
            <p class="align-left">This wonderful, wacky club that calls itself ELAS is made of people who live and love all things literary. Unfettered by an acute sense of self-awareness, ELAS is a not just a club, It’s a family. Apart from holding regular debate practices, workshops, and weekly events, its members also enjoy the art of bad puns, sarcastic jokes, and meme sharing on Facebook.                                                          Disclaimer: We do not endorse Grammar Nazis.
            </p>
        </div>
        <div class="modal-footer" id="modal1-close">
            <a href="#" id="modal1-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
  </div>

    <div id="modal2" class="modal z-depth-4 #e3f2fd blue lighten-5">
        <div class="modal-content">
            <h3 class="align-left #2196f3 blue-text">Journal Club</h3>
            <p class="align-left">Welcome to the official newsmaking factory of BPHC. Here, Jay-C makes words dance to the beats of information, producing newsletters, magazines that are filtered by our journalistic auto-tuners. Investigating the different genres of the world and doing the occasional duet with Wikipedia, this student factory is the place to be.
            </p>
        </div>
        <div class="modal-footer" id="modal1-close">
            <a href="#" id="modal2-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="modal3" class="modal z-depth-4 #e3f2fd blue lighten-5">
        <div class="modal-content">
            <h3 class="align-left #2196f3 blue-text">Shades Club</h3>
            <p class="align-left">The fine arts club of BITS Hyderabad, Shades is a gathering and celebration of creative people. A perfect platform to showcase your artistic capabilities and learn a lot more. The club organizes workshops on various art and craft forms. Some of our standout performances include the repainting of the Shades wall and the stage shows, live artworks during fest inaugurations. We also organize an annual exhibition during Pearl, BPHC cultural fest where artworks and various handcrafts of our artists are displayed.
                </p>
        </div>
        <div class="modal-footer" id="modal1-close">
            <a href="#" id="modal3-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="modal4" class="modal z-depth-4 #e3f2fd blue lighten-5">
        <div class="modal-content">
            <h3 class="align-left #2196f3 blue-text">VFx Club</h3>
            <p class="align-left">The club which leaves you enthralled, fascinated and spellbound by creating high-end graphics, 3D models, special effects and visual effects or VFx. Trains and nurtures students' skill to showcase their video and design making skill.
                </p>
        </div>
        <div class="modal-footer" id="modal1-close">
            <a href="#" id="modal4-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>

    <div id="modal5" class="modal z-depth-4 #e3f2fd blue lighten-5">
            <div class="modal-content">
                <h3 class="align-left #2196f3 blue-text">Hindi Tarang</h3>
                <p class="align-left">Hindi Tarang BPHC ka hindi literary club hai. Jahan tak baat hai Humaare kaam ki toh hum shabdon se khelte hai, kavitaon se logon ka dil jeetne ki koshish karte hain aur hindi jagat ke bade naamon se aapko rubaroo karane unko college lekar aate hain, jaise Hussain Haidry, The Mansarovar Project, etc. Toh BPHC ke naye sadasyon humaari kisse-kahaniyon aur kavitaon ki rail gadi aapka yahan swaagat karti hai.
                    </p>
            </div>
            <div class="modal-footer" id="modal1-close">
                <a href="#" id="modal5-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    
        <div id="modal6" class="modal z-depth-4 #e3f2fd blue lighten-5">
            <div class="modal-content">
                <h3 class="align-left #2196f3 blue-text">Quiz Club</h3>
                <p class="align-left">Do you spend countless hours on the internet reading up on random things which do not matter? <br>
                        Well, guess what. Here at The Quiz Club BPHC, they do matter. <br>
                        I could write a long description of what the club does, but then I wouldn't be honest to myself If I wrote anything other than - <br>
                        We conduct Quizzes
                        </p>
            </div>
            <div class="modal-footer" id="modal1-close">
                <a href="#" id="modal6-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    
        <div id="modal7" class="modal z-depth-4 #e3f2fd blue lighten-5">
            <div class="modal-content">
                <h3 class="align-left #2196f3 blue-text">Dance Club</h3>
                <p class="align-left">If you believe in the magic of dance, this is the place to be! The club practises and performs all year round with performances on various themes and dance forms such as Classical, Hip Hop, Contemporary, Bollywood, etc with the aim being to become better at expressing our ideas, our emotions through dance and bringing something new every time we are on the stage. The Dance Club also organizes fun-filled workshops and flash mobs over course of the year. Come join the family to discover the dancer within you and make some(we’d say all :p) of the best memories of your college life 🙂
                    </p>
            </div>
            <div class="modal-footer" id="modal1-close">
                <a href="#" id="modal7-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    
        <div id="modal8" class="modal z-depth-4 #e3f2fd blue lighten-5">
            <div class="modal-content">
                <h3 class="align-left #2196f3 blue-text">Dramatics Club</h3>
                <p class="align-left">To all you Dramebaaz people out there, welcome to the house of crazy, emotional, hormonal psychos. We'll show you how to make an audience laugh their guts out, and also touch them to the point of crying. If you have always yearned that platform to express yourself out without being judged, you find a place among us. We can't wait to see your talent at our inductions!
                    </p>
            </div>
            <div class="modal-footer" id="modal1-close">
                <a href="#" id="modal8-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="modal9" class="modal z-depth-4 #e3f2fd blue lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #2196f3 blue-text">Movie Club</h3>
                    <p class="align-left"></p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal9-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal10" class="modal z-depth-4 #e3f2fd blue lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #2196f3 blue-text">Photog</h3>
                    <p class="align-left">In Photog, we believe that taking a photograph, capturing a moment and living it is everything. It reveals how rich reality truly is. So if you have it in you, that passion, that endeavouring and never ending ardour for capturing the raw world around you, come join us at PHOTOG, The Photography Club of BITS Pilani Hyderabad Campus.
                        </p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal10-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal11" class="modal z-depth-4 #e3f2fd blue lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #2196f3 blue-text">Music CLub</h3>
                    <p class="align-left">We, at the music club, pride ourselves for not only putting up diverse music but also for learning new things along the way. Ask any member about their journey over the years, and they'll tell you what a magical experience it has been, performing in front of huge audiences, showcasing their talents, living their dreams. Whether you want to be a rockstar and headbang on stage or enamour the audience with some classical pieces, music club is the place you seek.
                        </p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal11-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal12" class="modal z-depth-4 #e3f2fd blue lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #2196f3 blue-text">Designers Anonymous</h3>
                    <p class="align-left">A club where the digital artists thrive and explore the world of graphic design. We make people stare in awe at our masterpieces. We don't need words to express our thoughts, just illustrations. Awesomeness is there at every step for and with us. Not the kind to boast, but we are freaking superb.
                        </p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal12-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <div id="modal13" class="modal z-depth-4 #e3f2fd blue lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #2196f3 blue-text">Sanskrit and Foriegn Languages Club</h3>
                        <p class="align-left">Like hopping from one Hitler Rants video to another? (German) Is your TV stuck with ZNMD on loop? (Spanish) Fancy speaking like one of those French girls? (French) Or just fascinated with those ancient verses scribed in our epics? (Sanskrit). Then SAFL Society is the right place for you!<br><br>
                                Sanskrit and Foreign Languages Society, or SAFL Society, for short, is a congregation of people who are passionate about learning Sanskrit and foreign languages. Through both, offline and online media, the society keeps its members involved with interesting activities and meet-ups, throughout the year.
                                </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal13-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            
                <div id="modal14" class="modal z-depth-4 #e3f2fd blue lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #2196f3 blue-text">Cooking CLub</h3>
                        <p class="align-left">Are you a foodie? Do you love to cook? Do you love gathering with friends over a great meal! It's a great way to deepen your friendships while enjoying terrific food. This is the place for all food lovers. We emerged as a club from cooking & culinary activities society after a stint of successful endeavours. We arrange talks, workshops from renowned chefs and entrepreneurs of the cooking field. Also, playing an appreciable role in arranging stalls during fests and special occasions.
</p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal14-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>

    <p class="center-align title">Clubs</p>        
<table class="centered main-table">
    <tbody>
        <tr>
            <td id="modal1-btn"  data-target="modal1" class= "modal-trigger #e3f2fd blue lighten-5">ELAS</td>
            <td id="modal2-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-4">JC</td>
            <td id="modal3-btn" data-target="modal1" class= "modal-trigger #90caf9 blue lighten-3">Shades</td>
            <td id="modal4-btn" data-target="modal1" class= "modal-trigger #64b5f6 blue lighten-2">VFx</td>
        </tr>

        <tr>
            <td id="modal5-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-4">Hindi Tarang</td>
            <td id="modal6-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-3">Quiz Club</td>
            <td id="modal7-btn" data-target="modal1" class= "modal-trigger #90caf9 blue lighten-2">Dance Club</td>
            <td id="modal8-btn" data-target="modal1" class= "modal-trigger #64b5f6 blue lighten-1">Dramatics Club</td>
        </tr>

        <tr>
            <td id="modal9-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-3">Movie Club</td>
            <td id="modal10-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-2">Photog</td>
            <td id="modal11-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-1">Music Club</td>
            <td id="modal12-btn" data-target="modal1" class= "modal-trigger #2196f3 blue">DA</td>
        </tr>
        
        <tr>
            <td id="modal13-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-2">SAFL</td>
            <td id="modal14-btn" data-target="modal1" class= "modal-trigger #bbdefb blue lighten-1">Cooking Club</td>
        </tr>
    </tbody>
</table>   
</div>
{% endblock %}>
