{% extends 'base.html'%}

	{% block title %}
	    <title>Contact Details - SU Portal</title>
	{% endblock %}
	{% block head %}
	<style>
		div.gallery {
		    margin: 5px;
		    border: 1px solid #ccc;
		    float: left;
		    width: 180px;
		}

		div.gallery:hover {
		    border: 1px solid #777;
		}

		div.gallery img {
		    width: 100%;
		    height: auto;
		}

		div.desc {
		    padding: 15px;
		    text-align: center;
		}
	</style>
	{% end block %}

{% block content %}
<h1>ABOUT US</h1>
	{% if members %}
	
		{% for member in members%}
		<div class = "gallery">
			<a target="_blank" href="{{member.image}}">
				<img src="{{member.image}}" width="300" height="200">
			</a>
			<div class="desc">
				 <p>{{member.first_name}} {{member.last_name}}<br>{{member.phone}}</p>
			</div>
		{% endfor %}
	
	{% else %}
		<strong>There are no contacts in the list</strong>
	{% endif %}
{% endblock %}	