{% extends 'base.html'%}

	{% block title %}
	    <title>Contact Details - SU Portal</title>
	{% load static %}
    <link rel="stylesheet" href="{% static "app/stylesheets/contact.css" %}">
	{% endblock %}

{% block content %}
<h1>ABOUT US</h1>
	{% if members %}
	
		{% for member in members%}
		<div class = "gallery">
			<a target="_blank" href="{{member.image}}">
				<img src="{{member.image}}" width="300" height="200">
			</a>
			<div class="desc">
				 <p>{{member.first_name}} {{member.last_name}}<br>{{member.phone}}</p>
			</div>
		{% endfor %}
	
	{% else %}
		<strong>There are no contacts in the list</strong>
	{% endif %}
{% endblock %}	
