{% extends 'base.html' %}

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "app/stylesheets/home.css" %}">
    </head>
    <body>
        <div class="wrapper">
            <ul class="top-bar">
                <li>home</li>
                <li></li>
                <li>212</li>
                <li>Complaints</li>
                <li>Login/Logout</li>
            </ul>
            <div class="static">
                <div  class="side-bar">
                    <ul>
                        <li>side bar item 1</li>
                        <li>side bar item 2</li>
                        <li>side bar item 3</li>
                        <li>side bar item 4</li>
                    </ul>
                </div> 
                <div class="content">
                    INSERT PAGE CONTENT
                </div>
            </div>    
        </div>
    </body>
</html>

{% block content %}
    <h1>Well, insert some content here.</h1>
{% endblock %}
