{% extends 'base.html' %}

{% block title %}
<title>Home - SU Portal</title>
{% endblock %}
{% block content %}
<div id="landing">
    <div id="intro">
        <h1>BITS Pilani, Hyderabad Campus</h1>
        <h2>Student Union Portal</h2>
    </div>
    <div class="landing-div" id="about">
        <h3>About SUC</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="landing-div" id="about-culture">
        <h3>About Student Culture</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
</div>


{% comment %}
<p class="item-1">CG == LOL</p>

<p class="item-2">Fuck cdcs<br><img src="{% static "app/bphc.jpeg" %}" height="200" width="400"></p>

<p class="item-3">Zindagi jhandba</p>
{% endcomment %}
{% endblock %}
