
{% extends 'base.html' %}

{% block title %}
<title>NGOs and Societies - SU Portal</title>
{% load static %}
    <link rel="stylesheet" href="{% static "app/stylesheets/clubs.css" %}">
    <script type="text/javascript">
        $(document).ready(function(){
            $('#modal1-btn').on('click',function(event){
                event.preventDefault();
                $('#modal1').show(); 
            });
            $('#modal1-close').on('click', function(event){
                event.preventDefault();
                $('#modal1').hide();
            });

            $('#modal2-btn').on('click',function(event){
                event.preventDefault();
                $('#modal2').show(); 
            });
            $('#modal2-close').on('click', function(event){
                event.preventDefault();
                $('#modal2').hide();
            });

            $('#modal3-btn').on('click',function(event){
                event.preventDefault();
                $('#modal3').show(); 
            });
            $('#modal3-close').on('click', function(event){
                event.preventDefault();
                $('#modal3').hide();
            });

            $('#modal4-btn').on('click',function(event){
                event.preventDefault();
                $('#modal4').show(); 
            });
            $('#modal4-close').on('click', function(event){
                event.preventDefault();
                $('#modal4').hide();
            });

            $('#modal5-btn').on('click',function(event){
                event.preventDefault();
                $('#modal5').show(); 
            });
            $('#modal5-close').on('click', function(event){
                event.preventDefault();
                $('#modal5').hide();
            });    

            $('#modal6-btn').on('click',function(event){
                event.preventDefault();
                $('#modal6').show(); 
            });
            $('#modal6-close').on('click', function(event){
                event.preventDefault();
                $('#modal6').hide();
            });

            $('#modal7-btn').on('click',function(event){
                event.preventDefault();
                $('#modal7').show(); 
            });
            $('#modal7-close').on('click', function(event){
                event.preventDefault();
                $('#modal7').hide();
            });

            $('#modal8-btn').on('click',function(event){
                event.preventDefault();
                $('#modal8').show(); 
            });
            $('#modal8-close').on('click', function(event){
                event.preventDefault();
                $('#modal8').hide();
            });

            $('#modal9-btn').on('click',function(event){
                event.preventDefault();
                $('#modal9').show(); 
            });
            $('#modal9-close').on('click', function(event){
                event.preventDefault();
                $('#modal9').hide();
            });

            $('#modal10-btn').on('click',function(event){
                event.preventDefault();
                $('#modal10').show(); 
            });
            $('#modal10-close').on('click', function(event){
                event.preventDefault();
                $('#modal10').hide();
            });

            $('#modal11-btn').on('click',function(event){
                event.preventDefault();
                $('#modal11').show(); 
            });
            $('#modal11-close').on('click', function(event){
                event.preventDefault();
                $('#modal11').hide();
            });

            $('#modal12-btn').on('click',function(event){
                event.preventDefault();
                $('#modal12').show(); 
            });
            $('#modal12-close').on('click', function(event){
                event.preventDefault();
                $('#modal12').hide();
            });
        });
    </script>
{% endblock %}


{% block content %}
<div class="club-table">

        <div id="modal1" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #009688 teal-text">EMBRYO</h3>
                    <p class="align-left">Embryo is the genesis of innovation and growth at BITS. Real learnings are derived from real life heroes. We have some amazing people around the world who have created historical milestones. Surely, one would wish to interact with such legends. They may be some artist, politician, coder, social entrepreneur, biologist – some of those might even be our BITS alumnus. Embryo coordinates and conducts live as well as online talks by these experts for student consumption at our own campus.
                        </p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal1-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal2" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #009688 teal-text">BITSMUN</h3>
                    <p class="align-left">BITSMUN (BITS Model United Nations) Society was established in 2011 with an aim of organizing the BITSMUN Conference annually which is one of the best MUN conferences in India, attended by over 400 delegates from all across the world. Apart from this, we train students to achieve quality MUNning and debating skills by organizing Mock MUNs along with training and information sessions. These students have bagged several awards and recognition for our college.
                        </p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal2-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal3" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #009688 teal-text">TEDx</h3>
                    <p class="align-left">TEDxBITSHyderabad is an event organized independently by the students of BITS Pilani, Hyderabad Campus that strives to recreate the unique experience found at a TED event. Our goal is to provide a platform for bright, inquisitive minds to come, listen and interact in an environment brimming with inspiration and wonder. The fourth edition of TEDxBITSHyderabad will be organized on 12th November 2017, with the theme “Connecting the Dots”.</p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal3-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal4" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                <div class="modal-content">
                    <h3 class="align-left #009688 teal-text">Stand-up Society</h3>
                    <p class="align-left">Tickling the funny bone of people is a serious job. And as future engineers, we need to have back up career plans. So, if you think you are funny and can take a beating from a crowd, join the Stand Up Comedy Society!
                        </p>
                </div>
                <div class="modal-footer" id="modal1-close">
                    <a href="#" id="modal4-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        
            <div id="modal5" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left#009688 teal-text">The Daily Bitsian</h3>
                        <p class="align-left">The Daily Bitsian is a monthly online magazine and creative corporation run by Bitsians, for Bitsians. With everything from college checklists to life managing philosophies, we bring to you our take on all that goes on in that busy college-student head. We produce creative content in all forms of media, be it video, image, comic or text, with but one promise. To be relatable.
                            </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal5-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            
                <div id="modal6" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #009688 teal-text">Student Mentorship Program</h3>
                        <p class="align-left">They organise a structured programme for conventional and non conventional courses. The course follows a particular plan and with the aim to provide a basic knowledge on the course by the end of the semester. The classes are taken by fellow BITSians who have sound knowledge of the subject.

                                </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal6-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            
                <div id="modal7" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #009688 teal-text">SCIO</h3>
                        <p class="align-left">SCIO is an NPO started by a team of motivated students from BITS Pilani-Hyderabad Campus with the aim of forming a support structure to the current education system by helping students take an informed decision about their future rather than succumb to peer and parental pressure.

                            </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal7-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            
                <div id="modal8" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                    <div class="modal-content">
                        <h3 class="align-left #009688 teal-text">Engineers without Borders</h3>
                        <p class="align-left">EWB is a non-profit society that involves engineers and other professionals in a movement of constructive change. It is inspired by an urgent concern for accelerating sustainable rural development, assisting in capacity building in backward rural and urban communities of India, working across national boundaries for social and economic justice and responsible use of technology.
                            </p>
                    </div>
                    <div class="modal-footer" id="modal1-close">
                        <a href="#" id="modal8-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
        
                <div id="modal9" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                        <div class="modal-content">
                            <h3 class="align-left #009688 teal-text">Nirmaan</h3>
                            <p class="align-left">Nirmaan is a constructive citizen movement for an empowered India thereby making this world a better place to live in. With a goal of making education, formal or not, available to everyone, Nirmaan has adopted several villages and is providing education to children and is helping the adults build livelihood opportunities and employment. We only have one passion, the rise of a great nation.</p>
                        </div>
                        <div class="modal-footer" id="modal1-close">
                            <a href="#" id="modal9-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                
                    <div id="modal10" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                        <div class="modal-content">
                            <h3 class="align-left #009688 teal-text">National Service Scheme</h3>
                            <p class="align-left">National Service Scheme(NSS), BPHC was formed on the words Not Me But You. NSS strives for the welfare of society by conducting many events such as health camps, computer literacy programs, awareness camps for villagers, blood donation camps etc. The volunteers acquire leadership qualities and democratic attitudes through mobilizing community participation.</p>
                        </div>
                        <div class="modal-footer" id="modal1-close">
                            <a href="#" id="modal10-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                
                    <div id="modal11" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                        <div class="modal-content">
                            <h3 class="align-left #009688 teal-text">ENACTUS</h3>
                            <p class="align-left">Why just help people when we could empower them? That's their motto, and that's what they thrive in achieving with Enactus. With an opportunity to conduct multiple surveys, interact with beneficiaries, and understand various aspects of running a small scale business,  it's not only their beneficiaries, that profit, it's you too.

                                </p>
                        </div>
                        <div class="modal-footer" id="modal1-close">
                            <a href="#" id="modal11-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                
                    <div id="modal12" class="modal z-depth-4 #e0f2f1 teal lighten-5">
                        <div class="modal-content">
                            <h3 class="align-left #009688 teal-text">Bulls and Bears</h3>
                            <p class="align-left"></p>
                        </div>
                        <div class="modal-footer" id="modal1-close">
                            <a href="#" id="modal12-close" class="btn modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>

                    
    <p class="center-align title">NGOs and Societies</p>
<table class="centered">
    <tbody>
        <tr>
            <td id="modal1-btn" data-target="modal1" class= "modal-trigger #e0f2f1 teal lighten-5">EMBRYO</td>
            <td  id="modal2-btn" data-target="modal1" class= "modal-trigger #b2dfdb teal lighten-4">BITSMUN</td>
            <td  id="modal3-btn" data-target="modal1" class= "modal-trigger #80cbc4 teal lighten-3">TEDx</td>
            <td  id="modal4-btn" data-target="modal1" class= "modal-trigger #4db6ac teal lighten-2">Stand-up Society</td>
        </tr>

        <tr>
            <td  id="modal5-btn" data-target="modal1" class= "modal-trigger #b2dfdb teal lighten-4">TDB</td>
            <td  id="modal6-btn" data-target="modal1" class= "modal-trigger #80cbc4 teal lighten-3">SMP</td>
            <td  id="modal7-btn" data-target="modal1" class= "modal-trigger #4db6ac teal lighten-2">SCIO</td>
            <td  id="modal8-btn" data-target="modal1" class= "modal-trigger #26a69a teal lighten-1">EWB</td>
        </tr>

        <tr>
            <td  id="modal9-btn" data-target="modal1" class= "modal-trigger #80cbc4 teal lighten-3">Nirmaan</td>
            <td  id="modal10-btn" data-target="modal1" class= "modal-trigger #4db6ac teal lighten-2">NSS</td>
            <td  id="modal11-btn" data-target="modal1" class= "modal-trigger #26a69a teal lighten-1">ENACTUS</td>
            <td  id="modal12-btn" data-target="modal1" class= "modal-trigger #009688 teal">Bulls and Bears</td>
        </tr>
    </tbody>
</table>   
</div>
{% endblock %}>
